<!DOCTYPE html>
<html ng-controller="game">
    <head>
        <META name="Andrew Rooney" content="Expected results update page" lang="en">
        <style>#wrapper {width: 1000px;}
            #wrapper .container-fluid {max-width: 100%; display: block;}</style>
    </head>

    <div ng-controller="myGame">
        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 offset-lg-2 offset-md-1 float-md-center">
          <div class="jumbotron">
            <div class="container">
              <div class="container-fluid">
                <div class="column">

                  <h1 class="text-center">{{greeting}}</h1>
                  <hr />

                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</html>
